body {
  margin: 0;
  font-family: "Helvetica Neue" ,sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.video, .canvas {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 0;
}

.fireplace-button {
  position: fixed;
  bottom: 1em;
  right: 1em;
  outline: none;
  background: rgba(178,34,34, 0.2);
  padding: 0.4em 0.9em;
  font-size: 2.4rem;
  color: rgba(240, 240, 240, 0.8);
  z-index: 1000;
  opacity: 0;
  border-radius: 0.1em;
  border: none;
}

.fireplace-button:hover, .title:hover {
  opacity: 1;
  animation-name: increaseOpacity;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.title {
  font-size: 7rem;
  color: rgba(178,34,34, 1);
  animation-name: increaseOpacity;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
  opacity: 0;
}

.title > span {
  color: rgba(9, 205, 218, 1);
}

@keyframes increaseOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 500px) {
    .title {
      font-size: 5rem;
    }
}
